<div class='flex-container'>
    <div class="card">
        <div class="about">
            <div style="font-size: 26px;">เกี่ยวกับเรา</div><br>

            <div style="font-size: 22px;">บริษัท จีพีเอส กูรู จำกัด</div><br>

            <div style="font-size: 22px;">ธุรกิจหลัก</div><br>

            <!-- <div style="font-size: 22px;">วิสัยทัศน์</div>
            <div>
                <h3>
                    องค์กรคนรุ่นใหม่ที่ให้บริการ GPS ติดตามการเคลื่อนไหวยานพาหนะ ที่เติบโตอย่างยั่งยื่นและมั่นคง สร้างคุณค่าสูงสุดให้กับลูกค้า คู่ค้า สังคม ชุมชน และพนักงาน
                </h3>
            </div>

            <div style="font-size: 22px;">พันธะกิจ</div>
            <div>
                <h3>
                        - พัฒนาบุคลากร องค์กร และระบบปฏิบัติการ ให้มีประสิทธิภาพสูงสุด <br>
                        - มองหาโอกาสในการเจาะตลาด และ มุ่งพัฒนาเทคโนโลยีใหม่ๆ อย่างสม่ำเสมอ <br>
                        - มุ่งเน้นให้ลูกค้าได้รับสินค้าและ บริการที่มีคุณภาพและประสิทธิภาพสูงสุด <br>
                        - มีความสัมพันธ์ที่แนบแน่นกับคู่ค้าและลูกค้า เพื่อพัฒนาการให้บริการอย่างไม่หยุดนิ่ง <br>
                        - คืนกำไรสู่สังคม โดยการแบ่งกำไรจากการขายมาทำประโยชน์ให้กับชุมชน
                </h3>
            </div> -->  
        </div>
    </div>
</div>

<div class="full-image-container">
    <img src="/assets/image/about/about.png" alt="">
</div>
<div class="full-image-container">
    <img src="/assets/image/about/about-e.png" alt="">
</div>


