// .flex-container {
//   .about {
//     width: 100%;
//     height: calc(100vh - 80px);

//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     z-index: 1;
//     // background-color: white;
//     background-color: rgba(255, 255, 255, 0.95);
//     box-shadow: rgba(230, 230, 230, 1) 0px -5px 10px 10px;
//     // -webkit-backdrop-filter: blur(10px);
//     // backdrop-filter: blur(10px);
//   }
// }

.flex-container {
  

  background-color: rgba(255, 255, 255, 0.95); /* สีพื้นหลังโปร่งใส */
  box-shadow: rgba(230, 230, 230, 1) 0px -5px 10px 10px; /* เพิ่มเงาให้กับพื้นหลัง */
  // width: 100%;
  height: calc(100vh - 80px);

  display: flex;
  justify-content: center; /* จัดเนื้อหาตรงกลางในแนวนอน */
  align-items: center; /* จัดเนื้อหาตรงกลางในแนวตั้ง */
}
.card{
  display: flex;
  justify-content: center; /* จัดเนื้อหาตรงกลางในแนวนอน */
  align-items: center; /* จัดเนื้อหาตรงกลางในแนวตั้ง */
}
.about {
  // margin-top: 20px;
  text-align: center; /* จัดเนื้อหาภายใน div.contact ตรงกลาง */
  // max-width: 600px; /* กำหนดความกว้างสูงสุดของเนื้อหา */
  padding: 20px; /* ให้มีพื้นที่ระยะห่างรอบขอบของเนื้อหา */
}

.full-image-container {
  width: 98.9vw;      /* ตั้งค่า width ของ container ให้เต็มจอ */
  // height: 100vh;     /* ตั้งค่า height ของ container ให้เต็มจอ */
  overflow: hidden;  /* ซ่อนส่วนที่เกินของรูปภาพ */
  display: flex;     /* ใช้ flexbox เพื่อจัดศูนย์ */
  justify-content: center; /* จัดตรงกลางแนวนอน */
  align-items: center;     /* จัดตรงกลางแนวตั้ง */
  margin: 0;         /* เอาช่องว่างรอบ container ออก */
  padding: 0;        /* เอาช่องว่างภายใน container ออก */

  img {
    width: 100%;       /* ตั้งค่า width ของรูปภาพให้เต็ม container */
    height: 100%;      /* ตั้งค่า height ของรูปภาพให้เต็ม container */
    object-fit: cover; /* ปรับให้รูปภาพครอบคลุมทั้งพื้นที่ */
  }
} 
