<div class='flex-container'>
    <div class="card">
        <div class="about">
            <div style="font-size: 26px;">เกี่ยวกับเรา</div><br>

            <div style="font-size: 22px;">บริษัท จีพีเอส กูรู จำกัด</div><br>

            <div style="font-size: 22px;">ธุรกิจหลัก</div><br> 
        </div>
    </div>
</div>

<div class="full-image-container">
    <img src="/assets/image/about/about.png" alt="">
</div>
<div class="full-image-container">
    <img src="/assets/image/about/about-e.png" alt="">
</div>

<div style="margin-left: 15px;">
    <h1>Milestone</h1>
    <div style="margin-left: 15px;">
        <div style="display: flex; ">
            <h2>2009</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * วิจัยตลาด<br>
                * วิจัยเชิงทดลอง<br>
                * จัดแบ่งประเภทของคู่ค้า<br>
                * ตรวจสอบความพร้อม
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2010</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * จดทะเบียนบริษัทฯ Trendspotter - กรกฎาคม 2010 (เป็นสาขาของ CHT ในประเทศไทย). <br>
                * นำเข้าอุปกรณ์จากประเทศไต้หวัน CHT. <br>
                * ใช้ระบบปฏิบัติการของ CHT.
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2011</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * จดทะเบียนบริษัทฯ GPS Guru - ตุลาคม 2011. <br>
                * ดำเนินธุระกิจเต็มรูปแบบ <br>
                * นำเข้าอุปกรณ์จากประเทศจีน <br>
                * พัฒนาระบบปฏิบัติการของตนเอง 
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2012</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * ลงทุนติดตั้งเซิร์ฟเวอร์ที่ประเทศไทย <br>
                * มีอุปกรณ์ Sensor ที่หลากหลาย ตามความต้องการของลูกค้า <br>
                * ปรับแต่งรายงานหลากหลายรูปแบบ ตามความต้องการของลูกค้า 
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2013</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * มีคู่ค้าที่ประเทศจีนที่หลากหลายมากขึ้น <br>
                * สร้างนวัตกรรมเทคโนโลยีสารสนเทศเพื่อตอบสนองความต้องการของลูกค้าโลจิสติกส์
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2014</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * ลงทุนเซิร์ฟเวอร์เพิ่มเติมที่ประเทศไทยn <br>
                * เริ่มระบบ Private Cloud เพื่อรองรับจำนวนข้อมูลที่เพิ่มมากขึ้น
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2015</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * ยกเลิกคู่ค้าที่ประเทศจีนทั้งหมด <br>
                * เริ่มนำเข้าอุปกรณ์ติดตามการเคลื่อนไหวยานพาหนะที่มีคุณภาพสูงกว่าจากยุโรปและประเทศไต้หวัน
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2016</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * ได้รับใบอนุญาตจาก กสทช. เลขที่ 1/59/012 - ลงวันที่ 29 กุมภาพันธ์ 2559 <br>
                * ได้รับใบอนุญาตจาก กรมการขนส่งทางบก เลขที่ 087/2559 - ลงวันที่ 10 มิถุนายน 2559 
            </p>
        </div>
    </div>
</div>
<br>
<div style="margin-left: 15px;">
    <h1>Milestone</h1>
    <div style="margin-left: 15px;">
        <div style="display: flex; ">
            <h2>2009</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * Market Research. <br>
                * Experimental research. <br>
                * Vendor classification. <br>
                * Self diagnostics.
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2010</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * Trendspotter company registration - Jul 2010 (CHT's Subsidiary in Thailand). <br>
                * Hardware supplier from Taiwan CHT. <br>
                * Web-based administration from CHT.
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2011</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * GPS Guru Company registration - Oct 2011. <br>
                * Full operation. <br>
                * Hardware supplier from China. <br>
                * Developed own web-based administration.
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2012</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * Investment of server in Bangkok, Thailand. <br>
                * More sensors, upon customers' requirement. <br>
                * Customize reports.
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2013</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * More hardware suppliers from China for different tiers of quailties. <br>
                * IT Innovative solution to logistics needs customers.                
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2014</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * More server investment in Bangkok, Thailand. <br>
                * Started own private cloud to accommodate increasing volume of data.
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2015</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * Terminated all supplier from China. <br>
                * Hardware supplier from Europe and Taiwan with higher quality.
            </p>
        </div>
        <div style="display: flex; ">
            <h2>2016</h2>
            <p style="margin-top: 5px; margin-left: 15px;">
                * Offical license number# 1/59/012 from "Office of The National Broadcasting and Telecommunications Commission" - 29 Feb'2016 <br>
                * Offical license number# 087/2559 from "Department of Land Transportation" - 10 Jun'2016
            </p>
        </div>
    </div>
</div>


