<div class='flex-container'>
    <div class="card">
        <div class="about">
            <div style="font-size: 26px;">เกี่ยวกับเรา</div><br>

            <div style="font-size: 22px;">บริษัท จีพีเอส กูรู จำกัด</div><br>

            <div style="font-size: 22px;">ธุรกิจหลัก</div><br>

            <!-- <div style="font-size: 22px;">วิสัยทัศน์</div>
            <div>
                <h3>
                    องค์กรคนรุ่นใหม่ที่ให้บริการ GPS ติดตามการเคลื่อนไหวยานพาหนะ ที่เติบโตอย่างยั่งยื่นและมั่นคง สร้างคุณค่าสูงสุดให้กับลูกค้า คู่ค้า สังคม ชุมชน และพนักงาน
                </h3>
            </div>

            <div style="font-size: 22px;">พันธะกิจ</div>
            <div>
                <h3>
                        - พัฒนาบุคลากร องค์กร และระบบปฏิบัติการ ให้มีประสิทธิภาพสูงสุด <br>
                        - มองหาโอกาสในการเจาะตลาด และ มุ่งพัฒนาเทคโนโลยีใหม่ๆ อย่างสม่ำเสมอ <br>
                        - มุ่งเน้นให้ลูกค้าได้รับสินค้าและ บริการที่มีคุณภาพและประสิทธิภาพสูงสุด <br>
                        - มีความสัมพันธ์ที่แนบแน่นกับคู่ค้าและลูกค้า เพื่อพัฒนาการให้บริการอย่างไม่หยุดนิ่ง <br>
                        - คืนกำไรสู่สังคม โดยการแบ่งกำไรจากการขายมาทำประโยชน์ให้กับชุมชน
                </h3>
            </div> -->  
        </div>
    </div>
</div>

<div class="full-image-container">
    <img src="/assets/image/about/about.png" alt="">
</div>


<div>
    <div style="font-size: 24px;">ลูกค้าของเรา</div><br>
            <div>
                <img class="logo-customer" src="/assets/image/customer-logo/l1.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l2.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l3.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l4.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l5.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l6.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l7.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l8.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l9.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l10.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l11.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l12.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l13.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l14.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l15.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l16.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l17.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l18.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l19.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l20.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l21.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l22.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l23.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l24.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l25.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l26.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l27.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l28.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l29.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l30.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l31.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l32.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l33.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l34.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l35.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l36.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l37.png ">
            </div>
</div>
