.flex-container{
    background-color: white;
    .product{
        width: 100%;
        // height: calc(100vh - 80px);

        // display: flex;

        background-color: white;

        .crad-main{
            border: 2px solid #000; /* กำหนดกรอบรูปสีดำ */
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* เพิ่มเงาให้กรอบ */
            margin-top: 2px;
        }

        .product-title {
            margin-top: 20px;
            margin-left: 30px;
            text-decoration: underline;
        }

        .crad{
           display: flex;
           justify-self: center;
           align-items: center;
           margin-left: 70px;
           margin-right: 70px;
        }

        .info{
            margin-left: 15px;
        }
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .product {
      width: 100%; /* ขยายขนาดสินค้าให้เต็มความกว้างของหน้าจอ */
    //   margin-bottom: 20px; /* เพิ่มระยะห่างระหว่างสินค้า */
    }
}
@media screen and (max-width: 480px) {
    img {
      width: 100px; /* ขยายขนาดรูปให้เต็มความกว้างของพื้นที่ของรูป */
      height: auto; /* ปรับส่วนสูงของรูปให้ปรับอัตโนมัติตามอัตราส่วน */
    }
}