<div class="flex-container">
  <div class="product">
    <div>
      <p class="product-title">Chunghwa Telecommunication TLC-200</p>
      <div class="crad">
        <div>
          <img
            src="../../../assets/image/Chunghwa Telecommunication TLC-200.png"
            alt="Chunghwa Telecommunication TLC-200"
            width="350px"
            height="300px"
          />
        </div>
        <div class="info">
          <p>
            This GPS model is emphasize on the durability, endurance and
            permanence. Mini-size which is best fit to connection stabilization.
            Installation can be at any spot of vehicle, easy & need only 15-20
            minutes per vehicle. No side effect to electric and engine system of
            vehicles. Data is non-stop updating every 30 seconds, even though
            engine is off. TMS (Transport Management System) software is using
            Google Map which enable Street View and Real Time traffic status.
            Multi-Purpose reports upon customer s requirement. All reports keep
            1 year record.
          </p>
        </div>
      </div>
    </div>

    <div>
      <p class="product-title">Trendspotter (or Anxin) Clairvoyance S</p>
      <div class="crad">
        <div>
          <img
            src="../../../assets/image/Trendspotter (or Anxin) Clairvoyance S.png"
            alt="FM112"
            width="350px"
            height="300px"
          />
        </div>
        <div class="info">
          <p>
            The device utilized mobile signal or SIM CARD in connecting with
            satellite, enhance the stability and accuracy of location and status
            of vehicles. Mini-size and does not have antenna or ground line.
            Easy install at any spot on vehicles. Installation will be only
            15-20 minutes per vehicle. Simplify & no side effect to electric &
            engine of vehicle. Durable in all weathers & easily repair and
            maintenance. Data is non-stop update every 30 seconds, even though
            engine off. TMS (Transport Management System) software is using
            Google Map which enable STREET VIEW and REAL TIME traffic status.
            Multi-Purpose reports upon customer s requirement. All reports keep
            1 year record.
          </p>
        </div>
      </div>
    </div>

    <div>
      <p class="product-title">GOLD Full Function</p>
      <div class="crad">
        <div>
          <img
            src="../../../assets/image/GOLD Full Function.png"
            alt="FM112"
            width="350px"
            height="300px"
          />
        </div>
        <div class="info">
          <p>
            This model usually use for transportation truck in Logistics
            Industry. Able to follow and analyze driver’s driving behavior such
            as over speeding;driving out of route; turn on engine while stop
            vehicle, etc. And issue Diver Performance KPI. Able to “Real Time”
            check details of fuel consumption. The device also supports future
            technology development.
          </p>
        </div>
      </div>
    </div>

  <div>
    <p class="product-title">Vehicle Tracker</p>
    <div class="crad">
      <div>
        <img
          src="../../../assets/image/Vehicle Tracker.png"
          alt="FM112"
          width="350px"
          height="300px"
        />
      </div>
      <div class="info">
        <p>
            Function and benefit of this model is similar to Tien-He model. But Memory Card makes this model higher specification. 
            The capacity of Memory Card can keep data from GPS Tracking device up to 5 days while GPS device cannot capture SIM Card signal. 
            This device is suitable for those Cross Border Truck operators who have trucks cross border to neighbor countries. 
            Cost saving due to non-Data Roaming expense but still have GPS Tracking data during truck travel to neighbor countries. 
            In addition, this device is also enable data interface to TMS (Transport Management System) of each customer who has difference GPS Tracking data requirement.
        </p>
      </div>
    </div>
  </div>

  <div>
    <p class="product-title">Sensor - Temperature</p>
    <div class="crad">
      <div>
        <img
          src="../../../assets/image/Sensor - Temperature.png"
          alt="FM112"
          width="350px"
          height="300px"
        />
      </div>
      <div class="info">
        <p>
            Temperature sensor is value added device enable GPS to capture and record the temperature data in reefer container during the journey. 
            It is stable; accuracy & durable. Generate temperature report base on reefer container travelling per trip in order to improve quality of service and satisfaction to end customer. 
            Easily install. Temperature reports keep 1 year record.
        </p>
      </div>
    </div>
  </div>

  <div>
    <p class="product-title">Relay</p>
    <div class="crad">
      <div>
        <img
          src="../../../assets/image/Relay.png"
          alt="FM112"
          width="350px"
          height="300px"
        />
      </div>
      <div class="info">
        <p>
            Relay is additional device enable TMS software to inactivate vehicle s engine through GPS unit in case of vehicle being stolen or driver is out of control. 
            Enable vehicle s owner or truck fleet controller to fully and effectively control trucks and drivers. 
            At the same time Relay is also able to activate vehicle s engine through TMS software. 
            Convenience with high return of productivity and high confidence to truck fleet controller.
        </p>
      </div>
    </div>
  </div>

  <div>
    <p class="product-title">Sensor - Fuel Tank</p>
    <div class="crad">
      <div>
        <img
          src="../../../assets/image/Sensor - Fuel Tank.png"
          alt="FM112"
          width="350px"
          height="300px"
        />
      </div>
      <div class="info">
        <p>
            Sensor - Fuel Tank is another value added device which is enables GPS to capture and record fuel consumption data. 
            Avoid driver steal fuel. The device enhance stability; durability; punctuality & accurately. 
            Fuel tank sensor reports keep 1 year record.
        </p>
      </div>
    </div>
  </div>

  <div>
    <p class="product-title">CME-400  Series magcard & deposit book reader introduction</p>
    <div class="crad">
      <div>
        <img
          src="../../../assets/image/Card Reader.jpg"
          alt="FM112"
          width="350px"
          height="300px"
        />
      </div>
      <div class="info">
        <p>
          1)  Products brief introduction
          Thanks for your buy our CME-400 series magcard & deposit book reader. This manual is suit for CME-402,CME-412,CME-423,CME-433  readers.
          CME-400 series magcard & deposit book reader is one of our main products. It's chenmingcard produced by ourselves. It's specially used for bank, commercial, post and securities etc. it's used for read and transmit information from ANSI/ISO magcard and deposit book. It's support two ways transmit and can connect to difference PC and terminal keyboard. <br>
          2)  Technical data Tape standard: ISO7811/2 Number of character: first track（TK1）: 79 characters Second track（TK2）: 40 characters Third track（TK3）: 104 characters Power supply： CME-400 is no need additional power supply, it’s support from main unit or terminal connector.
          COM communication: ：IBM PC/XT/AT keyboard connector Head-life：＜500000 card feeding speed ：10－120cm/s weights: about 300g Dimension：W44*L170*H42mm Crust: ABS material, black/milk-white cooler for choose

        </p>
      </div>
    </div>
  </div>
  
</div>
