.flex-container{

    .product{
        width: 100%;
        // height: calc(100vh - 80px);

        // display: flex;

        background-color: white;

        .product-title {
            margin-top: 20px;
            margin-left: 50px;
        }

        .crad{
           display: flex;
           justify-self: center;
           align-items: center;
        }
    }
}