.flex-container {
  background-image: url("/assets/image/Trailer_White_0.jpg");

  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(88, 88, 88);

    width: 100%;
    height: 80px;

    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(230, 230, 230, 1) 0px -5px 10px 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    .logo {
      height: 100%;
      width: 20%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu {
      height: 100%;
      width: 60%;
      font-size: 15px;
      // background-color: hotpink;

      display: flex;
      justify-content: center;
      align-items: center;

      .menus {
        // margin-left: 10px;
        // margin-right: 10px;
        margin: 10px;
        cursor: pointer;
      }
    }
    .login {
      height: 100%;
      width: 20%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .section {
    width: 100%;
    height: calc(100vh - 80px);
    // background-color: rgb(255, 255, 255);
  }

  .footer {
    width: 100%;
    height: 300px;

    background-color: rgb(50, 50, 50);
  }
}

$breakpoint: 768px;

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .desktop-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  @media (max-width: $breakpoint) {
    .desktop-menu {
      display: none;
    }

    .dropdown-menu {
      display: none;
    }

    .dropdown-menu.open {
      display: flex;
    }
  }
  .menu-button {
    display: none;

    @media (max-width: $breakpoint) {
      display: block;
      border: none;
      background-color: transparent;
      cursor: pointer;

      span {
        font-size: 24px;
      }
    }
  }

  .dropdown-menu {
    display: none;
    flex-direction: column; /* เปลี่ยนเป็น column เพื่อให้เมนู dropdown แสดงแนวตั้ง */
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;

    li {
      padding: 10px;
      border-bottom: 1px solid #ddd;

      &:last-child {
        border-bottom: none;
      }
    }

    a {
      text-decoration: none;
      color: #333;
    }
  }

  .dropdown-menu.open {
    display: flex; /* เมื่อ .open มีอยู่ใน .dropdown-menu แสดงเมนู dropdown */
  }
}
