<div class="flex-container">
  <div class="header">
    <div class="logo" routerLink="./">
      <img class="img" src="/assets/image/logo.png"/>
    </div>

    <div class="menu" id="myTopnav">
      <div class="menu-button" (click)="toggleMenu()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>    
      </div>
      <ul *ngIf="!isMenuOpen; else mobileMenu" class="desktop-menu">
        <!-- Desktop Menu Items -->
        <li><div class="menus" routerLink="./">หน้าหลัก</div></li>
        <li><div class="menus" routerLink="./product">สินค้า</div></li>
        <li><div class="menus" routerLink="./question">คำถามที่พบบ่อย</div></li>
        <li><div class="menus" routerLink="./about">เกี่ยวกับเรา</div></li>
        <li><div class="menus" routerLink="./contact">ติดต่อเรา</div></li>
      </ul>
      <ng-template #mobileMenu>
        <ul class="dropdown-menu" [class.open]="isMenuOpen" (click)="toggleMenu()">
          <!-- Mobile Menu Items -->
          <li routerLink="./">หน้าหลัก</li>
          <li routerLink="./product">สินค้า</li>
          <li routerLink="./question">คำถามที่พบบ่อย</li>
          <li routerLink="./about">เกี่ยวกับเรา</li>
          <li routerLink="./contact">ติดต่อเรา</li>
        </ul>
      </ng-template>
    </div>

    <div class="login">
      <a href="http://gps.gpsguru.co.th/" target="_blank"> เข้าสู่ระบบ </a>
    </div>
  </div>

  <div class="section">
    <router-outlet></router-outlet>
  </div>

  <!-- <div class="footer"></div> -->
</div>
