<div class='flex-container'>

    <div class="contact">
        <div style="font-size: 26px;">ติดต่อเรา</div><br>
        <div>บริษัท จีพีเอส กูรู จำกัด(สำนักงานใหญ่)</div>
        <div>32/1 ซอยนักกีฬาแหลมทอง 5 แยก 4-1 แขวงทับช้าง เขตสะพานสูง กรุงเทพฯ 10240 เลขที่ประจำตัวผู้เสียภาษี 0105554134105</div>
        <br>
        <div>คุณนฤมล ส่งแก้ว</div>
        <div>โทร : 089 995 1800</div>
        <div>อีเมลล์ : nakanda&#64;gpsguru.co.th</div>
        <br>
        <br>
        <div>GPS GURU Co.,Ltd (Head Office)</div>
        <div>32/1 Soi Nakkila Laem Thong 5, Yek 4-1, Thab Chang, Saphan Sung, Bangkok, 10240Tax 0105554134105</div>
        <br>
        <!-- <div>คุณนฤมล ส่งแก้ว</div> -->
        <div>Narumol Songkaew</div>
        <div>Tel : 089 995 1800</div>
        <div>Email : nakanda&#64;gpsguru.co.th</div>
    </div>

</div>