<div class='flex-container'>

    <div class="home" style="color: black;">
        <div class="font-head">ยินดีต้อนรับ</div><br>
        <div class="font">สู่เว็บไซต์ จีพีเอส กูรู</div>
        <div class="font">GPS ติดตามการเคลื่อนไหวยานพาหนะ</div>
    </div>

</div>

<!-- info main -->
<div style="margin-top: 415px; background-color: black;" >
    <div class="img-c3">
        <img  src="/assets/image/c/c3.png" >
    </div> 
<!-- c1 -->
    <div class="img-c1">
        <img  src="/assets/image/c/c1.png" >
    </div>
    <div class="img-c1">
        <img src="/assets/image/c/c1-e.png">
    </div>  
<!-- c2 -->
    <div class="img-c2">
        <img src="/assets/image/c/c2.png" alt="">
    </div>
    <div class="img-c2">
        <img src="/assets/image/c/c2-e.png" alt="">
    </div>
<!-- c4 -->
    <div class="img-c2">
        <img src="/assets/image/c/c4.png" alt="">
    </div>
    <div style="background-color: white;">
        <p style=" color: black; margin-left: 15px; margin-right: 15px;">
            Mobile Function เป็นเคล็ดลับในการเข้าใช้งานระบบ GPS Tracking โดยผ่านอุปกรณ์เคลื่อนที่ (Mobile Device) ที่เช่น Smart Phone, Smart Pad, Smart TV เป็นต้น
            โครงสร้างและการออกแบบที่เป็นอัตลักษณ์เฉพาะตัวเพื่อการใช้งานบนอุปกรณ์เคลื่อนที่ (Mobile Device) ที่ให้ความน่าเชื่อถือและความแม่นยำของข้อมูล
            เชิญร่วมสัมผัสประสบการณ์ความสะดวกสบายในการใช้งานระบบ GPS Tracking บนอุปกรณ์เคลื่อนที่ (Mobile Device) ผ่าน Mobile Function ของเรา 
            <br>
            <br>
            Mobile Function is a tip to enjoy our GPS Tracking platform through mobile device such as Smart Phone, Smart Pad, Smart TV, ect.
            The configuration and set up is tailor-made to mobile device which is more reliable and accuracy.
            Welcome all users to experience the convenience & user-friendly on Mobile Function.
        </p>
    </div>
    <!-- <div class="img-c2">
        <img src="/assets/image/c/c2-e.png" alt="">
    </div> -->
</div>
<br>
<br>
<!-- customer -->
<div>
    <div class="header">ลูกค้าของเรา</div><br>
            <div class="logo">
                <img class="logo-customer" src="/assets/image/customer-logo/l1.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l2.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l3.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l4.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l5.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l6.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l7.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l8.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l9.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l10.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l11.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l12.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l13.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l14.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l15.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l16.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l17.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l18.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l19.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l20.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l21.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l22.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l23.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l24.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l25.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l26.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l27.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l28.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l29.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l30.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l31.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l32.jpg">
                <img class="logo-customer" src="/assets/image/customer-logo/l33.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l34.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l35.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l36.png">
                <img class="logo-customer" src="/assets/image/customer-logo/l37.png ">
            </div>
</div>
